* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-repeat: repeat;
  background-image: url("./img/553px-Blake_manuscript_-_Notebook_38_-_The_Fairy.jpg"),
    url("./img/4k-hand-note-pen-writing-wallpaper-preview.jpg");
  background-blend-mode: screen;
}

.container {
  width: 60%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
  background: rgb(240, 240, 240);
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid lightgray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

form {
  width: 400px;
  margin: 0 auto;
}

input {
  border: none;
  border-radius: 6px 0 0 6px;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 0 6px 6px 0;
  background: rgb(53, 73, 116);
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(53, 73, 116, 0.9);
}

.delBtn {
  background-color: rgb(225, 54, 47);
  color: #fff;
  float: right;
  padding: 6px 8px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.delBtn:hover {
  background-color: rgb(225, 54, 47, 0.8);
}
